.settings-layout {
  display: flex;
  height: 100%;
}

/* Левая панель */
.settings-sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;         /* расстояние между кнопками — 16px */
  padding: 16px;
  padding-top: 32px; /* отступ сверху — 32px */
  width: 200px;
  box-sizing: border-box;
}

/* Верхняя часть меню */
.settings-sidebar-header {
  height: 64px;                      /* фиксированная высота — 64px */
  background: var(--color-gradient-accent);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  color: var(--color-white);
  font-family: var(--font-pfaze-family);
  font-weight: var(--font-pfaze-weight);
  font-size: var(--font-pfaze-size);
}

/* Правая панель */
.settings-content {
  flex: 1;
  background: var(--color-white);
  margin: 16px;
  border-radius: var(--radius-global);
  box-shadow: var(--shadow-inner-gray);
  display: none; /* скрыта по умолчанию */
}
