.app-window {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 480px;
  height: 320px;
  min-width: 300px;
  min-height: 300px;

  /* градиентная рамка */
  padding: 2px; /* толщина рамки */
  border-radius: var(--radius-global); /* 40px */
  background: var(--color-gradient-accent);

  box-shadow: var(--shadow-drop-light), var(--shadow-drop-dark);
  display: flex;
  flex-direction: column;
  resize: both;
  overflow: auto;
  z-index: 1000;
}

.app-window-inner {
  flex: 1;
  border-radius: calc(var(--radius-global) - 2px); /* чтобы совпадало с внешним */
  background: var(--color-primary); /* внутренний фон */
  display: flex;
  flex-direction: column;
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  height: 80px;
  background: var(--color-gradient-accent);
  color: var(--color-white);
  border-top-left-radius: calc(var(--radius-global) - 2px);
  border-top-right-radius: calc(var(--radius-global) - 2px);
}

.window-title {
  font-family: var(--font-window-title-family);
  font-weight: var(--font-window-title-weight);
  font-size: var(--font-window-title-size);
  letter-spacing: var(--font-window-title-spacing);
  line-height: var(--font-window-title-line-height);
  color: var(--color-white);
}

.window-body {
  flex: 1;
  padding: 16px;
}

.window-close {
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
}

.window-close img {
  width: 100%;
  height: 100%;
}










