/* Базовый стиль для всех кнопок */
.app-window .settings-sidebar .window-menu-btn {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  border-radius: 40px;       /* единое скругление */
  box-sizing: border-box;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: var(--font-pfaze-family);
  font-weight: var(--font-pfaze-weight);
  font-size: var(--font-pfaze-size);
  line-height: 1.2;
  letter-spacing: var(--font-pfaze-letter-spacing);

  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Дефолтная */
.app-window .settings-sidebar .window-menu-btn.default {
  background: var(--color-white);
  color: var(--color-text);
  border: none;
  border-radius: 40px;
}

/* Акцентная */
.app-window .settings-sidebar .window-menu-btn.accent {
  background: var(--color-white);                /* белый фон */
  color: transparent;                            /* текст залит градиентом */
  background-clip: text;
  -webkit-background-clip: text;
  background-image: var(--color-gradient-accent);

  border: 2px solid;                             /* обводка */
  border-image: var(--color-gradient-accent) 1;  /* градиентная рамка */
  border-radius: 40px;                           /* скругление */
}

/* Ховер */
.app-window .settings-sidebar .window-menu-btn:hover:not(.disabled) {
  background: var(--color-gradient-accent);
  color: var(--color-white);
  border-radius: 40px;
}

/* Дизэйбл */
.app-window .settings-sidebar .window-menu-btn.disabled {
  background: var(--color-primary);
  border: 1px solid var(--color-disabled-text);
  color: var(--color-disabled-text);
  cursor: not-allowed;
  border-radius: 40px;
}
